 #game {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
 }

 .row {
    display: flex;
    gap: 15px;
    justify-content: center;
 }

 .divCard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid #333;
    margin: 0;
 }

.card:hover {
    background-color: #cfbae0;
}

 .card {
    width: 50px;
    height: 50px;
    background-color: rgb(158, 136, 199);
    margin: 5px;
    font-size: 0px;
    border-radius: 15%;
 }

 .card.active {
    border: 2px solid rgb(56, 3, 102);
    font-size: 25px;
    background-color: #efe1ff;
 }

 .card.finder {
    background-color: #4b3c56;
    border-color: #0c062e;
 }

 #restartButton {
    width: 200px;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    margin: 10px auto;
    border: none;
    border-radius: 15px;
    background-color: #1d003c;
    color: white;
 }

 #restartButton:hover {
    background-color: #37013a;
 }